<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>

</head>

<body>

	<section>

		<div class="card mr-3 ml-3">

			<div class="card-body">

				<h1 class="text-center">Your contacts</h1>
				
				<!--search -->
				
				<div class="search-container my-3">
					
					<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contact" />
					
					<div class="search-result">
						
						<!--result-->
						
						
						
					</div>
					
				</div>
				
				
				
				<div class="table-responsive">
				
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>


						<tr th:each="c: ${contacts}">
							<th scope="row" th:text="${'SCM' +c.cId}"></th>
							
							<td>
								<img src="" class="my-profile-pic" th:src="@{'/image/' + ${c.image}}" alt="profile pic" />
								<span th:text="${c.name}"></span></td>
							
							<td >
								<a href="" th:href="@{'/user/' +  ${c.cId} + '/contact'}">
									<span th:text="${c.email}"></span>
								</a></td>
							
							<td th:text="${c.phone}"></td>
							<td>
	
								<a th:onclick="|deleteContact(${c.cId})|" class="btn btn-lg"><i class="fa-solid fa-trash "></i></a>
						
								<form method="post" th:action="@{'/user/update-contact/'+${c.cId}}">
									<button type="submit" class="btn btn-lg "><i class="fa-solid fa-pen-to-square"></i></button>
								</form>

							</td>
						</tr>

					</tbody>
				</table>
				</div>
				<!--pagination-->

				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/show-contacts/'+ ${currentPage-1}}" class="page-link" href="#">Previous</a></li>
						
						
						<li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show-contacts/'+ ${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
				
						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/show-contacts/'+ ${currentPage+1}}" class="page-link" href="#">Next</a></li>
					</ul>
				</nav>


			</div>

		</div>
		
		<script>
			
			$(document).ready(() =>{
				$(".items").removeClass("active");
				$("#contact-link").addClass("active");
			});
			
		</script>

	</section>

</body>

</html>