<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	
</head>
<body>
	
	<section>
		<div class="container">
			<div class="row">
				
			<div class="col-md-8 offset-md-2">
				
				<div class="my-card mt-1">
					
					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
					 <p class="text-center" th:text="${session.message.content}"></p>
					 
					 <th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
					
					<div class="container text-center">
						<img class="" style="width: 80px;" th:src="@{/image/reg.png}" alt="" />
					</div>
				
					<h1 class="text-center">Registration here</h1>
					
					<form action="" th:action="@{/do_register}" method="post" th:object="${user}">
						
					<!--name bar-->
					 <div class="mb-3">
					    <label for="name_field" class="form-label">Your Name</label>
					    
					    <input name="name" type="text" class="form-control" 
						    th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" id="name_field" aria-describedby="nameHelp" 
						    placeholder="Enter name" th:value="${user.name}" >
						    
					    <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
					      
					    </div>
					    
					 </div>
					 
					 <!--email bar-->
					 <div class="mb-3">
					    <label for="email_field" class="form-label">Your E-mail</label>
					    <input name="email" type="email" class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid':'' " id="email_field" 
					    	aria-describedby="emailHelp" placeholder="Enter e-mail" th:value="${user.email}">
					    
					    <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">
					      
					    </div>
					    
					 </div>
					 
					 <!--password bar-->
					 <div class="mb-3">
					    <label for="password_field" class="form-label">Your Password</label>
					    <input name="password" type="password" class="form-control" id="password_field" 
					    	th:classappend="${#fields.hasErrors('password') ? 'is-invalid':''}"aria-describedby="emailHelp" placeholder="Enter password">
					 
					 	<div class="invalid-feedback" th:each="e : ${#fields.errors('password')}" th:text="${e}">   </div>
					 </div>
					 
					 <!-- user about field -->
					 <div class="form-group">
						 
						 <textarea name="about" rows="5" class="form-control" placeholder="Enter something" th:text="${user.about}"></textarea>
						 
					 </div>
					
					 <!--terms and condition-->
					 
					 <div class="form-group form-check ">
						 
						<input type="checkbox" name="agreement" th:classappend="${#fields.hasErrors('agreement')} ? 'is-invalid':'' " class="form-check-input" id="agreement" />
						 
						<label for="agreement">Accept terms & condition</label>
						<div class="invalid-feedback" th:each="e : ${#fields.errors('agreement')}" th:text="${e}">
					      
					    </div>
					
					 </div>
					 <br />
					 
					 <div class="container text-center">
						 
						 <button type="submit" class="btn bg-primary text-white">Submit</button>
						 <button type="reset" class="btn btn-warning">Reset</button>
					 </div>
						
					</form>
					
				</div>
			</div>	
			
			</div>
			
		</div>
		
	</section>
	
</body>
</html>